.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: calc(100vw - 40px);
  height: calc(84vh - 40px);
}

.chat-messages {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  border-radius: 10px;
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  text-align: center;
}


.user {
  background-color: lightblue;
  justify-content: flex-start;
  align-self: flex-start;

}

.assistant {
  align-items: center;
  justify-content: flex-end;
  background-color: lightgreen;
  align-self: flex-end;
}

.chat-input {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;

  .chat-input-textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
  }

  .chat-input-button {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
  }
}


.error-alert {
  color: red;
  font-size: 16px;
  font-family: inherit;
}