h2 {
    text-align: left;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid rgba(70, 70, 70, 0.2);
    padding: 0 0 8px 0;
    margin-bottom: 12px;
}

th,
td {
    padding: 6px 12px;
    text-align: left;
}

th {
    background: rgba(70, 70, 70, 1);
}

tr:nth-child(even) {
    background: rgba(70, 70, 70, 0.2)
}

tr.highlight {
    position: relative;
    box-shadow: 0px 0px 8px 4px rgba(70, 70, 70, 0.2);
}

tr.highlight td:first-of-type {
    outline: 2px solid chocolate;
    font-weight: bold;
}

tr.highlight td:last-of-type {
    background: chocolate;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-weight: bold;
}

tr.highlight td:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(70, 70, 70, 0.2);
    box-shadow: 0px 2px 4px 3px rgba(50, 50, 50, 0.2);
    border-radius: 6px;
    padding: 12px;
}